<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h2>Error</h2>
        <p>Error has occurred. Please login again</p>
        <button type="button" class="btn btn-primary btn-block" onclick="location.href='/student/login'">I am a student</button>
        <button type="button" class="btn btn-success btn-block" onclick="location.href='/teacher/login'">I am a teacher</button>
    </div>
  </div>
</div>