<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center" style="font-family: Papyrus, cursive">Musician's challenge</h1>
      <br>
      <img src="/images/notes.png" class="mx-auto d-block" style="height:150px; width:350px">
      <br>
      <button type="button" class="btn btn-primary btn-block" onclick="location.href='/student/login'">I am a student</button>
      <button type="button" class="btn btn-success btn-block" onclick="location.href='/teacher/login'">I am a teacher</button>
    </div>
  </div>
</div>