<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h2>Welcome teacher</h2>
      <button type="button" class="btn btn-success btn-block" onclick="location.href='/teacher/addStudent'">Add new student</button>
      <button type="button" class="btn btn-info btn-block" onclick="location.href='/teacher/myStudents'">View existing students</button>
      <br><br>
      <button type="button" class="btn btn-danger btn-block" onclick="location.href='/'">Logout</button>
    </div>
  </div>
</div>
